header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 0;
    background-image: url('../assets/images/pattern-bg-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    color: #FFF;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.286px;
}