.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    padding: 2em 2em .5em 1em;
    position: relative;
    bottom: -115px;
    margin-top: -115px;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
}

@media screen and (max-width: 1068px) {
    .info {
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1em;
        bottom: -105px;
        padding: 1.5em 3em;
    }
}

@media screen and (max-width: 734px) {
    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        padding: 26px 1.5em 1.5em;

        /* These styles make the InfoPane sit halfway
         on the map and header. However, it disrupts the UX on mobile.
         Resetting values to 0 so the InfoPane sits only on the header
         it for now until a better solution comes */        

        margin-top: -170px;
        bottom: -170px;
        /* margin-top: 0;
        bottom: 0; */
    }
}

.info-item {
    display: flex;
}

.info-details {
    text-align: left;
    flex-grow: 1;
}

@media screen and (max-width: 734px) {
    .info-details {
        text-align: center;
    }
}

.info-details .info-details-title {
    margin-bottom: 13px;
    color: #2C2C2C;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    opacity: .5;
    padding-left: 32px;
}

@media screen and (max-width: 1068px) {
    .info-details .info-details-title {
        padding-left: 0;
    }
}

@media screen and (max-width: 734px) {
    .info-details .info-details-title {
        margin-bottom: 7px;
        font-size: 10px;
        letter-spacing: 1.45px;
    }
    
}

.info-details .info-details-body {
    color: #2C2C2C;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.232px;
    /* CSS to achieve vertical line separator between info items */
    border-left: 1px solid #D9D9D9;
    position: relative;
    top: -22px;
    padding-top: 20px;
    padding-left: 32px;
    height: 63%;
    /* End of vertical line styles */
}

@media screen and (max-width: 1068px) {
    .info-details .info-details-body {
        border-left: none;
        position: static;
        top: unset;
        padding-top: 0;
        padding-left: 0;
        height: auto;
    }
}

@media screen and (max-width: 734px) {
    .info-details .info-details-body {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.179px;

    }
}

.first .info-details-body {
    border: none;
}