.info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position:relative;
    top: -70px;
    width: 80%;
    padding: 37px 32px;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
}

.info-item {
    display: flex;
    align-items: center;
}

.info-details {
    text-align: left;
    flex-grow: 1;
}

.info-details h2 {
    margin-bottom: 13px;
    color: #2C2C2C;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    opacity: .5;
}

.info-details p {
    color: #2C2C2C;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.232px;
}

.vl {
    min-width: 1px;
    opacity: 0.15000000596046448;
    background: #000;
    flex-grow: 0;
}