.loading-screen {
    height: 100vh;
    background-color: #000;
    color: #f3f4f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12em;
    z-index: 1;
  }
  
  .loading-copy {
    font-size: 2.2rem;
    margin-bottom: .45em;
  }

  @media screen and (max-width: 734px) {
    .loading-copy {
        font-size: 1.8rem;
    }
}

.loading-bar {
    width: 140px;
    height: 4px;
    background: #ccc;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.loading-bar::before {
    content: "";
    width: 65px;
    height: 4px;
    background: rgb(0, 72, 206);
    position: absolute;
    left: 100px;
    animation: animate 1.5s ease infinite;
}

@keyframes animate {
    50% {
        left: -30px
    }
}