.loading-screen {
    height: 100vh;
    background-color: #000;
    color: #f3f4f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12em;
  }
  
  .loading-screen-copy {
    font-size: 2.2rem;
    /* position: relative;
    top: 200px; */
  }

  .loading-screen-icon {
    width: 100px;
  }