.leaflet-container { 
    height: 85vh;
}

.leaflet-container:focus-visible, .leaflet-marker-icon:focus-visible, .leaflet-popup-close-button:focus-visible {
    outline: 5px solid #3ca2d8;
}

.leaflet-pane {
    z-index: 1;
}

@media screen and (max-width: 734px) {
    .leaflet-container { 
        height: 75vh;
        z-index: 1;
    }
}

.leaflet-control-container {
    display: none;
}

.leaflet-container .leaflet-marker-pane img {
    width: 30px;
}