.leaflet-container { 
    height: 80vh;
    z-index: -1;
}

@media screen and (max-width: 734px) {
    .leaflet-container { 
        height: 85vh;
        z-index: 1;
    }
}

.leaflet-control-container {
    display: none;
}

.leaflet-container .leaflet-marker-pane img {
    width: 30px;
}