#root {
  margin: 0 auto;
  text-align: center;
}

.ip {
  color: #fff;
}

br.large {
  display: block;
}

@media only screen and (max-width: 734px) {
  br.large {
      display: none;
  }
}

.hide-app {
  z-index: -2;
  opacity: 0;
  display: none;
}